body {
  background-image: url('pexels-photo.jpeg');
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-sizing {
  width: 25%;
}

.navbarcustom1 {
  opacity: 0.8;
}
